/* 

Body Font: "Courier New" with monospace ("Courier New", monospace;);
Button Focus Color: #ffcb05;
Nav Color: #ffcb05;
List Group Item Color: #2a75bb;
Button Back-ground Color: white;





*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", monospace;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
}
.button:hover,
.button:focus {
  cursor: pointer;
  transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  background-color: #ffcb05;
  padding: 18px 18px;
  text-align: center;
  display: inline-block;
  margin: 5px 5px;
}

.button {
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
  padding: 10px;
  width: 175px;
  height: 50px;
}

.close {
  font-size: 45px;
}

.list-group-item {
  background-color: #2a75bb;
  text-align: center;
  position: relative;
}

.modal-body {
  margin: auto;
  box-sizing: border-box;
  background: white;
  padding: 0;
  width: 100%;
  max-width: 500px;
  text-align: center;
  min-height: 400px;
}

.navbar {
  background-color: #ffcb05;
}
